/* You can add global styles to this file, and also import other style files */
.form-group label {
    color: gray;
}

.form-group input {
    font-weight: 500;
    /*border-color: rgb(135, 121, 184);*/
}

.form-group input::placeholder {
    color: #c0bdbd;
    font-weight: 300;
}

#cor {
    border-color: rgb(26, 126, 35);
}

thead th{
    font-weight: 400;
}

table tbody tr:hover {
    background-color: #fffbf2;
    cursor: pointer;
}

/*Para Mudar a cor do Icone - FontAwesome de acordo com validação*/
.green-icon{
   color: #28a745; 
}

/*Para Mudar a cor do Icone - FontAwesome de acordo com validação*/
.red-icon{
    color: #dc3545; 
 }

/*Para Invalidar Controles*/
input.invalid {
    border-color: red;
}