/* You can add global styles to this file, and also import other style files */
body {
    background-color:rgb(218, 215, 214);
}

.form-group label {
    color: gray;
}

.form-group input {
    font-weight: 500;
    border-color: rgb(54, 6, 228);
}

.form-group input::placeholder {
    color: #c0bdbd;
    font-weight: 300;
}

#cor {
    border-color: rgb(131, 31, 0);
}

thead th{
    font-weight: 400;
}

table tbody tr:hover {
    background-color: #fffbf2;
    cursor: pointer;
}

/*Para Invalidar Controles*/
input.invalid {
    border-color: red;
}